@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCodeRegular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url('../fonts/FiraCodeBold.ttf');
  font-weight: bold;
}

:root {
  font-family: "FiraCode";
  line-height: 1.5;
  font-size: 10px;

  cursor: text;

  --lutzig-dark: #444;
  --lutzig-light: #f1faff;

  /* #1a1a1a #252529 */
  color-scheme: light dark;

  color: var(--lutzig-light);
  background-color: var(--lutzig-dark);
  caret-color: var(--lutzig-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  width: max(320px, 100vw);
  min-height: 100dvh;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--lutzig-dark);
    background-color: var(--lutzig-light);
    caret-color: var(--lutzig-dark);
  }
}