@font-face {
	font-family: "FiraCode";
	src: url('../fonts/FiraCodeRegular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "FiraCode";
	src: url('../fonts/FiraCodeBold.ttf');
	font-weight: bold;
}

:root {
	font-family: "FiraCode";
	line-height: 1.5;
	font-size: 10px;

	cursor: text;

	--light-color: #F8F8F2;
	--dark-color: #272822;

	--terminal-green-color: #a6e22e;
	--terminal-blue-color: #66d9ef;
	--terminal-fake-cursor-width: 0.923rem;

	color: var(--light-color);
	background-color: var(--dark-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
	width: .5rem;
}

::-webkit-scrollbar-track {
	background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
	background: var(--light-color);
}

body {
	margin: 0;
	padding: 1rem;
	min-width: 320px;
	min-height: 100dvh;
	box-sizing: border-box;
}