@font-face {
	font-family: "FiraCode";
	src: url('../fonts/FiraCodeRegular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "FiraCode";
	src: url('../fonts/FiraCodeBold.ttf');
	font-weight: bold;
}

:root {
	font-family: "FiraCode";
	line-height: 1.5;
	font-size: 10px;

	cursor: text;

	--main-color: #ff3e00;
	--second-color: #e66f47;
	--third-color: #2e2e2e;
	--surface-color: #444444;
	--gray-color: #c4c4c4;
	--light-gray-color: #e6e6e6;
	--light-color: #F8F8F2;
	--dark-color: #272822;
	--darker-color: #1a1a1a;

	--terminal-green-color: #a6e22e;
	--terminal-blue-color: #66d9ef;
	--terminal-fake-cursor-width: 0.923rem;

	color: var(--light-color);
	background-color: var(--third-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
	width: .5rem;
}

::-webkit-scrollbar-track {
	background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
	background: var(--light-color);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
}